body  {
    background: linear-gradient(to right, #005eb5, #3d0075);
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    font-family: oxanium;
    color: white;
    user-select: none;
}

hr {
  width: 98.7%;
  height: 4px;
  border-radius: 2px;
  border-width: 0;
  z-index: 0;
  position: relative;
  background: linear-gradient(to right, #ff30ea, #f5ff30, #306bff);
}

textarea {
  font-size: 12px;
}

.up {
  position: relative;
  bottom: 20px;
}

.fixed {
  padding: 5;
  text-align: center;
  top: -10;
  color: #ffa1a1;
  background: #a60000;
  z-index: 1;
}

#particles-js {
    position: fixed;
    margin: 0;
    zoom: 100%;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.c {
  z-index: 10;
  position: relative;
}

.tc {
  z-index: 10;
  width: 70%;
  position: relative;
}

.sect {
  background: rgba(0,0,0,0.5);
  border-radius: 15px;
  max-width: 85%;
  min-width: 475px;
  z-index: 1;
}

.group {
  height: 0%;
  width: 100%;
  background-color: transparent;
}

.dis {
  margin: 6;

  width: 97%;
}

.simg {
  transform: scale(1.0);
  transition: 0.3s;
}

.simg:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

.btn {
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  color: black;
  padding: 0 28px;
  font-size: 16px;
  cursor: pointer;
  height: auto;
}

/* Btn Animation */
.button {
  border-color: #7600ba;
  border-radius: 15px;
  color: black;
  transform: scale(1.0);
  z-index: 10;
  transition: transform 0.3s;
  transition: 0.3s;
  box-shadow: none; 
}

.button:hover {
  background: #9900ff;
  border-radius: 30px;
  color: white;
  z-index: 20;
  transform: scale(1.1);
  transition: transform 0.3s;
  transition: 0.3s;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9); 
}

.hyperlink {
  color: white;
  font-size: 18px;
  cursor: pointer;
  width: 400px;
  margin: 5px;
}

/* Animation */
.link {
  width: 400px;
  height: auto;
  padding: 20px;
  margin: 3px;
  border-radius: 10px;
  align-content: center;
  color: white;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1);
  bottom: 0;
  transform: scale(1.0);
  transition: transform 0.3s;
  transition: 0.3s;
  z-index: 10;
  cursor: pointer;
  backdrop-filter: blur(2px);
} .link:hover {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
  bottom: 0;
  transform: scale(1.05);
  transition: transform 0.3s;
  transition: 0.3s;
  z-index: 11;
  backdrop-filter: blur(5px);
}

.linkh {
  width: 410px;
  height: auto;
  padding: 5px;
  margin: 3px;
  border-radius: 10px;
  align-content: center;
  color: white;
  display: inline-block;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.2);
  bottom: 0;
  transition: transform 0.3s;
  transition: 0.3s;
  z-index: 10;
}

.link p {
  margin: 15px;
}

.frm  {
  background: linear-gradient(white, #d6d6d6);
  border-radius: 15px;
  color: black;
  padding: 0 0;
  font-size: 16px;
  cursor: pointer;
  height: 170;
  
  align-content: center;
}

.txt {
  display: inline-block;
  text-decoration: none;
  font-size: 19px;
  padding: 1vh 0vw;
  width: 400px;
}

.rounded {
  border-radius: 15px;
}

.fsb {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 0 10px;
  height: 37px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 10px;
  margin: 0;
}
.butn {
  border-color: #5a24a6;
  color: black;
  transition: 0.3s;
}

.butn:hover {
  background: #5a24a6;
  color: white;
  transition: 0.3s;
}

.trnsp {
  background: white;
}

.collapsible {
  border: 2px solid black;
  border-color: #7600ba;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 0 18px;
  border-radius: 15px;
  width: 70%;
  height: auto;
  text-align: center;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
  transform: scale(1.0);
  box-shadow: none; 
  z-index: 10;
}

.active, .collapsible:hover {
  background-color: #9900ff;
  border-radius: 30px;
  color: white;
  transition: 0.3s;
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9); 
  z-index: 11;
}

.content {
  border: 2px solid black;
  border-color: white;
  padding: 8 0;
  border-radius: 15px;
  width: 90%;
  color: white;
  overflow: hidden;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9); 
  z-index: 12;
}

.g1 {
  width: 100%;
  height: 94.3%;
  border-radius: 15px;
}

.g2 {
  width: 100%;
  height: 89%;
  border-radius: 15px;
}

.logo {
  height: 5.7vh;
  width: auto;
  z-index: 9999;
}

.co {
  border: 2px solid black;
  border-color: #7600ba;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 0 18px;
  border-radius: 15px;
  width: 70%;
  height: auto;
  text-align: center;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
  transform: scale(1.0);
  box-shadow: none; 
  z-index: 10;
}

.active, .co:hover {
  background-color: #9900ff;
  border-radius: 30px;
  color: white;
  transition: 0.3s;
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.9); 
  z-index: 11;
}

.coco {
  border: none;
  border-radius: 5px;
  margin-bottom: 6;
  width: 98%;
  color: white;
  display: none;
  overflow: hidden;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  z-index: 12;
}

.key {
  background: rgba(181, 7, 175, 0.2);
  border: none;
  border-radius: 5px;
  font-family: oxanium;
  z-index: 99999;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.key:hover {
  background: rgba(181, 7, 175, 0.5);
  color: rgba(255, 255, 255, 1.0);
  transition: 0.3s;
}

.ukey {
  background: rgba(39, 122, 230, 0.2);
  border: none;
  border-radius: 5px;
  font-family: oxanium;
  z-index: 99999;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
}

.ukey:hover {
  background: rgba(39, 122, 230, 0.5);
  color: rgba(255, 255, 255, 1.0);
  transition: 0.3s;
}

.qas {
  margin: 6;
  padding: 0 0;
  width: 430;
  height: 360;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
}

.qass {
  min-width: 370px;
  max-width: 370px;
  margin: 6;
  padding: 6 6;
  display: inline-block;
  z-index: 2;
  background: rgba(0,0,0,0.5);
  border-radius: 15px;
}

.tagbtn {
  height: 25px;
  width: 100px;
  display: inline-block;
  padding: 6 3;
  margin: 3px;
  top: 0;
  border-radius: 15px;
  border: none;
  font-family: oxanium;
  font-size: 12;
  color: white;
  background: #47178a;
  z-index: 11;
  transform: scale(1.0);
  transition: 0.3s;
  cursor: pointer;
} .tagbtn:hover {
  background: #9c18ba;
  z-index: 12;
  transform: scale(1.3);
  border-radius: 25px 5px;
  transition: 0.3s;
}